{% extends 'base.html.twig' %}

{% block body %}
    <h2>Watch out!</h2>

    <p>Are you sure you want to do this to "{{ title }}"?</p>

    {{ form(form) }}

    <a href="/movies">Nah, I'm cool</a>
{% endblock %}
