<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}What to watch?{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="/movies"><h1>What are we watching?</h1></a>
            {% if app.user %}
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Log in</a>
            {% endif %}
        </header>

        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
